@import "tailwindcss";

/*
    Any custom css, add it here
*/

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hiddenInput {
  display: none;
}
.glow-border {
  border: 2px dotted transparent;
  border-image: linear-gradient(45deg, cyan, magenta) 1;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}
