@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities) source("./");

/*
    Any custom css, add it here
*/

.hiddenInput {
  display: none;
}
